{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta name="description" content="Ziarul cu care stai de vorbă și în care poți avea încredere!">
        <link rel="icon" href="/media/blog/static/media/logo.png" type=image/x-icon">
        <link rel="canonical" href="https://drive.google.com/file/d/1rAXdOsmLCaAAZ_gAL4eiYZ5ufMDnFlOG/view?usp=sharing">
        <meta name="robots" content="noodp">
        <meta property="og:locale" content="ro_RO">
        <meta property="og:type" content="website">
        <meta property="og:title" content="Est-Curier">
        <meta property="og:description" content="Ziarul cu care stai de vorbă și în care poți avea încredere!">
        <meta property="og:url" content="http://estcurier.md">
        <meta property="og:site_name" content="Est-Curier">
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        <title>Est-Curier</title>
    </head>
    <body class="grey lighten-3">
        <header>
            <nav>
                <div class="nav-wrapper white">
                    <a href="/" class="brand-logo center light-blue-text text-darken-2 ">Est Curier</a>
                    <ul id="nav-mobile" class="left hide-on-small-only ">
                        <li><i class="material-icons" id="user_menu_trigger" onclick="makevisibleusermenu()">{% if user.is_active %} account_circle {% else %} person_pin {% endif %}</i></li>
                    </ul>
                    <ul class="right hide-on-small-only flow-text ">
                        <li>{% if user.is_staff %} <a class="btn waves-effect waves-light " href="{% if ads_page %}{% url 'new_ad' %} {% else %} /post/new {% endif %}">
                            <i class="material-icons">add</i></a> {% endif %}</li>
                        <li><a href="/ads" class="black-text">Publicitate</a></li>
                    </ul>
                    <ul class="hide-on-med-and-up">
                        <li><i class="material-icons black-text" id="mobile_menu_trigger" onclick="show_mobile_usermenu()">menu</i></li>
                    </ul>
                </div>
            </nav>
        </header>
        <main style="flex: 1 0 auto">
            <div class="row pinned hide hide-on-med-and-up" style="z-index:100;" id="mobile_menu">
                <div class="col s12 m12">
                    <div class="card">
                        <div class="card-content s12">
                            <div class="row">
                                {% if user.is_active %}
                                    <a href="{% url 'logout' %}" class="light-blue-text text-darken-2 right"><i class="material-icons">logout</i></a>
                                {% endif %}
                                <h4>Meniu</h4>
                                {% if not ads_page %}
                                    <a class="btn waves-effect waves-light s12" href="/ads">Pagina de Publicitate</a>
                                {% endif %}
                                {% if user.is_staff %} 
                                    <a class="btn waves-effect waves-light " href="{% if ads_page %}{% url 'new_ad' %} {% else %} /post/new {% endif %}">
                                    <i class="material-icons">add</i></a> 
                                {% endif %}<br><br>
                                {% if not user.is_active %}
                                    <a class="btn" href="/login">Autentifică-te</a><br><br>
                                    <a class="btn" href="/register">Înregistrează-te</a>
                                {% else %}
                                    <a class="btn">Treci la tema întunecată</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row pinned hide" style="z-index:100;" id="usermenu">
                <div class="col s12 m12">
                    <div class="card">
                        {% if user.is_active %}
                            <div class="card-content s12">
                                <div class="row">
                                    <a href="{% url 'logout' %}" class="light-blue-text text-darken-2 right"><i class="material-icons">logout</i></a><br>
                                    <h3 class="center-align">{{ user.username }}</h3>
                                    <p class="center-align">{% if user.is_staff %}Administrator{% else %}Utilizator{% endif %}</p>
                                </div>
                            </div>
                            <div class="card-action">
                                {% if profile.darktheme %}
                                    <a href="{% url 'setusertheme' theme=0 %}"><button class="btn-flat white-text">Treci la tema luminoasă!</button></a>
                                {% else %}
                                    <a href="{% url 'setusertheme' theme=1 %}"><button class="btn-flat light-blue-text text-darken-2">Treci la tema întunecată!</button></a>
                                {% endif %}
                            </div>
                        {% else %}
                            <form method="POST" action="/login/">
                                <div class="card-content">
                                    <h4>Autentifică-te</h4>
                                    <input type="hidden" name="next" value="{{ request.path }}">
                                    {% csrf_token %}
                                    <div class="row">
                                        <div class="input-field col s10">
                                            <input name="logininput" type="text" >
                                            <label class="active" for="first_name2">Nume de utilizator</label>
                                        </div>
                                        <div class="input-field col s10">
                                            <input name="passwordinput" type="password">
                                            <label class="active" for="first_name2">Parola</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-action">
                                    <a href="/register" class="yellow-text text-darken-4"><button type="button" class="btn-flat btn waves-effect waves-light white yellow-text text-darken-4">Înregistrează-te</button></a>
                                    <button class="btn-flat btn waves-effect waves-light white yellow-text text-darken-4" type="submit" name="action">Continuă</button>
                                </div>
                            </form>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% if tposts %}
                <ul class="collection hide-on-med-and-down card top_articles">
                    <div class="section" style="margin-bottom: 5%">
                        <li><p class="collection-item title_of_top_articles center" id="top_posts_header">Top Articole</p></li>
                    </div>
                    {% for post in tposts %}
                        <li style="margin:2%">
                            <a href="{% url 'post_detail' pk=post.pk %}">
                                <div class="card horizontal valign-wrapper hoverable top_article" style="margin-left:2%">
                                    <div class="card-image">
                                        <img src="/media/{{post.cover}}" style="width: 5rem;" class="image_of_top_article">
                                    </div>
                                    <div class="card-stacked">
                                        <div class="card-content">
                                            <div class="section " >
                                                <p class="black-text title_of_top_article">{{ post.title }}</p>
                                            </div>
                                            <div class="divider"></div>
                                                <div class="section">
                                                    <p id="top_article_short_info" class="black-text"><i class="material-icons red-text tiny black-text top_article_icons">favorite</i> {{ post.likes.count }}  <i class="material-icons red-text tiny black-text top_article_icons">remove_red_eye</i>  {{post.count_of_views}}</p></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
            {% if ads_list %}
                <div class="card hide-on-med-and-down" id="ads_warning">
                    <div class="card-content">
                        <div class="row">
                            <h5>Anunț</h5>
                            <p>Dacă doriți ca publicitatea voastră să apară aici, contactaține pe estcurier@gmail.com sau veniți la redacția Est-Curier</p>
                        </div>
                    </div>
                </div>
            {% endif %}
            <div class="main_page">
                {% block content %}
                {% endblock %}
            </div>
        </main>
        <footer class="page-footer grey lighten-2" >
            <div class="container ">
                <div class="row">
                    <div class="col l6 s12">
                        <h5 class="black-text">Est Curier</h5>
                        <p class="black-text">Ziarul cu care stai de vorbă și în care poți avea încredere</p>
                    </div>
                    <div class="col l4 offset-l2 s12">
                        <h5 class="black-text">Rețele Sociale</h5>
                        <ul>
                            <li><a class="black-text" href="https://www.facebook.com/Est-Curier-Criuleni-1498073250508795/">Facebook</a></li>
                            <li><a class="black-text" href="https://www.youtube.com/channel/UCflgGBMYMLcveK-xoX_RipA">YouTube</a></li>
                            <li><a class="black-text" href="https://www.instagram.com/estcurier/">Instagram</a></li>
                            <li class="hide-on-med-and-up black-text">Support:estcuriercriuleni@gmail.com</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer-copyright">
                <div class="container black-text">
                    © 2020 Est Curier. All Rights Reserved.
                    <div id="estcurier_support" class="hide-on-small-only">Support:estcuriercriuleni@gmail.com</div>
                </div>
            </div>
        </footer>
    </body>
    <script type="text/javascript" src="{% static 'js/base.js' %}"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
</html>
