{% load static %}
<html>
    <head>
        <title>Est-Curier</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">

    </head>

    <body {% if profile.darktheme %} class="body_dark_theme" {% endif %} onload=" {% if post_new %} putrandomsurvey() {% endif %}" onscroll ="document.getElementById('usermenu').style.display = 'none'">
     <div style="flex-grow: 1;">

        <div class="page-header">
            {% if user.is_staff %}
            <a href="{% if ads_page %} {% url 'new_ad' %} {% else %} {% url 'post_new' %} {% endif %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
            {% endif %}
            {% if user.is_active %}
            <img width="90" height="90" align="right" class="user_image" src='http://127.0.0.1:8000/media/{{profile.photo|default:"/blog/static/media/746199.jpg"}}' onclick="makevisibleusermenu()">
            <div id='usermenu' class="user_menu" style="">
                <h2 align="center">{{user.username}}</h2>
                <p>Temă:
            {% if profile.darktheme %}
                <a href="{% url 'setusertheme' theme=0 %}"><button >De zi</button></a>
            {% else%}
                <a href="{% url 'setusertheme' theme=1 %}"><button>De noapte</button></a></p> 
            {% endif %}    
                <br><a href="{% url 'logout' %}" >Deloghează-te</a>
                
            </div>
            {% else %}
            <img width="90" height="90" align="right" class="user_image" src='http://127.0.0.1:8000/media/{{profile.photo|default:"/blog/static/media/2446756_0.jpg"}}' onclick="makevisibleusermenu()">
            <div id='usermenu' class="user_menu">
                <h2 align="center">Oaspete</h2>
                <form method="POST" action="/login/">
                    {% csrf_token %}
                <input type="" name="logininput" placeholder="Login-ul"><br>
                <input type="password" name="passwordinput" placeholder="Parola"><br>
                <button type="submit">Loghează-te</button>
                </form>
                <a href="/register">Înregistrează-te</a>
            </div>
            {% endif %}

            <h1><a {% if ads_page %} href="/ads">Est-Curier<div style="color:red; display: inline;">Ads</div>{% else %}href="/">Est-Curier{% endif %}</a></h1>
        </div>
        {% if tposts %}
        <div class="top_posts" >
                        <h1 class="top_posts_title">Top articole</h1>
                        <hr style="margin-top: 10px; margin-bottom: 30px;" />
                        {% for tpost in tposts %}
                        <div class="top_post_container">
                        <img align="left" class="top_post_image" src='http://127.0.0.1:8000/media/{{tpost.cover}}'>
                        <h2 align="left" class="top_post_title" style=""><a href="{% url 'post_detail' pk=tpost.pk %}">
                        {{ tpost.title }}</a></h2>
                        <p>{{ tpost.count_of_views}} views</p>
                      </div>
                        {% endfor %}
                        </div>{% endif %}    
        <div class="content container">

            <div class="row">
                
                    <div class="col-md-8">
                         
                        {% block content %}
                        {% endblock %}
                    </div>
            </div>
        </div>
    </div>
        <div id="footer" class="footer">© Est-Curier LLC, Toate drepturile sunt privatizate </div>
    </body>
    <script type="text/javascript" src="{% static 'js/base.js' %}"></script>
    
</html>