{% extends 'blog/darktheme_base.html' %}
{% load static %}
{% block content %}
	<link rel="stylesheet" href="{% static 'css/ad_edit.css' %}">
	<form method="POST">
		{% csrf_token %}
		<div class="card white-text blue-grey darken-3">
			<div class="card-content" id="main">
				<div class="row">
					<div class="col s12">
						<h4 class="white-text">Adaugă un bloc de publicitate</h4><br>
					</div>
					<div class="col s12">
						<textarea class="text_input s12 z-depth-1 hoverable" name="ad_text" id="ad_text" required placeholder="Conținutul">{{ ad.text }}</textarea>
					</div>
					<div class="input-field col s12">
                	    <input type="text" name="contact_data" value="{{ ad.contact }}" required>
                   	 	<label class="active" for="first_name2">Date de contact</label>
                	</div>
                	<div class="col s12">
                		<h5>Perioada de plasare(săptămâni)</h5>
            	    	<p class="range-field">
      						<input type="range" name="count_of_days" value="{{ ad.remove_date|default:1 }}" id="test5" min="1" max="20" />
   						</p>
   					</div>
   					<div class="col s12">
						<button class="waves-effect waves-light btn right" type="submit" id="save_ad">{% if ad_new %}Publică{% else %} Salvează {% endif %}</button>
						{% if not ad_new and user.is_staff %}
							<a class="btn btn-default red" id="remove_ad" href="remove" style="border: 0px">Șterge</a>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
	</form>
{% endblock %}