{% extends 'blog/darktheme_base.html' %}
{% load static %}


{% block content %}
{% if bigimage %}
    <div class="row" style=padding-left:0" >
    <div class="col s12 valign-wrapper">
        {% for post in posts %}
      <div class="big-image card hide" style="height:56rem" id="post{{post.index}}" onmouseover="visible_big_image_change({{post.index}})" onmouseout="hidden_big_image_change({{post.index}})">
        <div class="card-image "style="height: 48rem;">
          <a href="{% url 'post_detail' pk=post.pk %}">
            <img src="/media/{{post.cover}}" style="object-fit: cover; overflow: hidden;height:48rem;">
          </a>
          <span class="card-title" style="background-color: rgba(1, 87, 155, 0.5); margin:2%; max-width: 80%">{{ post.title }}</span>

          <span onclick="next_big_image({{post.index}})" id="previous_big_image{{post.index}}" style="display: none;"><i class="material-icons large" style="color:#fff;font-size: 900%; cursor: pointer; right: 2%; position: absolute; top:40%" >arrow_forward</i></span>
          <span onclick="previous_big_image({{post.index}})" id="next_big_image{{post.index}}" style="display: none; "><i class="material-icons large" style="color:#fff;font-size: 900%; cursor: pointer; left: 2%; position: absolute; top:40%" >arrow_back</i></span>
        {% if user.is_staff %}  <a href="{% url 'post_edit' pk=post.pk %}" class="btn-floating btn-large halfway-fab waves-effect waves-light hoverable"><i class="material-icons">edit</i></a>  {% endif %}
        </div>
       <a href="{% url 'post_detail' pk=post.pk %}">
         <div class="card-content blue-grey darken-3 hoverable">
          <p class="white-text flow-text">{{ post.text|striptags|linebreaksbr|truncatewords:30 }}</p>
        </div></a>

      </div>
        {% endfor %}
    </div>

  </div>
{% endif %}
    {% for post in posts %}
    <div class="col s12 m12 hide-on-small-only">
            <div class="card horizontal hoverable blue-grey darken-3">
                <div class="card-image valign-wrapper">
                    <img src="/media/{{post.cover}}" style="width: 150px; height: 20rem; object-fit: cover; overflow: hidden;">
                </div>
                <div class="card-stacked">
                    <div class="card-content" >
                        <a href="{% url 'post_detail' pk=post.pk %}" class="white-text">
                        <div class="section">
                        <h4 class="white-text">{{ post.title }}</h4>
                        <p style="font-size:1.4rem">{{ post.text|striptags|linebreaksbr|truncatewords:40 }}</p>
                    </div>
                        <div class="divider"></div>
                        <div class="section">
                        <p style="display: flex" ><i class="material-icons red-text tiny white-text" style="line-height: inherit;padding-right: 0.5rem">access_time</i> {{ post.published_date }} |<i class="material-icons red-text tiny white-text" style="line-height: inherit;padding-right: 0.5rem;padding-left: 0.5rem">contacts</i> {{post.author}} |  {{post.count_of_views}} <i class="material-icons red-text tiny white-text" style="line-height: inherit;padding-left: 0.5rem">remove_red_eye</i></p></div>
                        </a>
                    </div>
                </div>
            </div>
    </div>
    <div class="col s12 m12 hide-on-med-and-up">
            <div class="card hoverable blue-grey darken-3">
                <div class="card-image valign-wrapper">
                    <img src="/media/{{post.cover}}" style="object-fit: cover; overflow: hidden;">
                </div>
                <div class="card-stacked">
                    <div class="card-content" >
                        <a href="{% url 'post_detail' pk=post.pk %}" class="white-text">
                        <div class="section">
                        <h4 class="white-text">{{ post.title }}</h4>
                        <p style="font-size:1.4rem">{{ post.text|striptags|linebreaksbr|truncatewords:40 }}</p>
                    </div>
                        <div class="divider"></div>
                        <div class="section">
                        <p style="display: flex" ><i class="material-icons red-text tiny white-text" style="line-height: inherit;padding-right: 0.5rem">access_time</i> {{ post.published_date }} |<i class="material-icons red-text tiny white-text" style="line-height: inherit;padding-right: 0.5rem;padding-left: 0.5rem">contacts</i> {{post.author}} |  {{post.count_of_views}} <i class="material-icons red-text tiny white-text" style="line-height: inherit;padding-left: 0.5rem">remove_red_eye</i></p></div>
                        </a>
                    </div>
                </div>
            </div>
    </div>
    {% empty %}
    <div class="col s12 m12 hide-on-med-and-up">
            <div class="card hoverable blue-grey darken-3">
                <div class="card-stacked">
                    <div class="card-content" >
                        <a href="{% url 'post_detail' pk=post.pk %}" class="white-text">
                        <p style="font-size:1.4rem">La momentul dat nu este nici-un articol sau aveţi probleme cu conexiunea la internet</p>
                        </a>
                    </div>
                </div>
            </div>
    </div>
    {% endfor %}
    <ul class="pagination center">
        {% for i in number_of_pages %}
            <li class="waves-effect {% if i == current_page %} active blue-grey darken-2 darken-3{% endif %}" ><a class="white-text" href="{% url 'choose_page' lk=i %}"> {{i}} </a></li>
        {% endfor %}
    </ul>
    <script type="text/javascript" src="{% static 'js/post_list.js' %}"></script>
{% endblock %}
