{% extends 'blog/darktheme_base.html' %}
{% block content %}
<div class="row">
	<div class="col {% if not mobile %}s9{% endif %}">
		{% for ad in ads %}
			<div class="col {% if mobile %}s12{% else %}s4{% endif %}">
				<div class="card hoverable blue-grey darken-3 white-text">
					<div class="card-content">
						<p>{{ ad.text| linebreaksbr }}</p>
						<b>{{ ad.contact }}</b>
					</div>
					{% if user.is_staff %}
						<a class="btn-floating halfway-fab waves-effect waves-light" href="{% url 'ad_edit' pk=ad.pk %}"><i class="material-icons">edit</i></a>
					{% endif %}
				</div>
			</div>
		{% endfor %}
	</div>
	{% if not mobile %}<div class="col s3">
		<div class="card blue-grey darken-3 white-text">
			<div class="card-content">
				<div class="row">
					<h5>Anunț</h5>
					<p>Dacă doriți ca publicitatea voastră să apară aici, contactaține pe estcurier@gmail.com sau adresați-vă la redacția Est-Curier</p>
				</div>
			</div>
		</div>
	</div>
	{% endif %}
</div>
{% endblock %}
