{% extends 'blog/base.html' %}
{% block title %}Log-in{% endblock %}
{% block content %}
    <h3>Conectare</h3>
    <form action="." method="post">{% csrf_token %}
        <div class="row">
            <div class="input-field col s6">
                <input name="logininput" type="text" {% if incorrect_login_or_password %} class="validate invalid {% endif %}">
                <label class="active" for="first_name2">Numele de utilizator</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6">
                <input name="passwordinput" type="password" {% if incorrect_login_or_password %} class="validate invalid" {% endif %}>
                <label class="active" for="first_name2">Parola</label>
            </div>
        </div>
        <button id="registersubmit" class="btn waves-effect waves-light" type="submit" value="Log-in" >Loghează-te
        </button>
    </form>
{% endblock %}