{% extends 'blog/base.html' %}
{% load static %}
{% block content %}
    <div class="post">
        {% if post.published_date %}
            
        {% endif %}
        
    
        <div class="post_detailed_container">
        <h1 class="post_detailed_title">{{ post.title }}</h1>
        <hr class="post_detailed_line" />
        <p class="post_detailed_info">Date: {{ post.published_date }} | Author: {{post.author}} | Views: {{post.count_of_views}}</p>
        <hr class="post_detailed_line" />
        {% autoescape off %}
        <div id="post_text" class="post_detailed_text" >{{ post.text|linebreaksbr }} </div>
        {% endautoescape %}
        </div>
        {% if user.is_active %}
            <form method="GET" action="vote">
            <p>{{post.question}}</p>
            {% for i in survey %}
                <input {% if i.typeofvote %} type="radio" required value="{{i.variant}}" name="value"{% else %} type="checkbox" name="{{i.variant}}" {% endif %}  {% if uservoted %} disabled {% endif %} >{{i.variant}} {{i.count}}<br>
                

            {% endfor %}
            {% if uservoted %}
                <p>You already voted</p>
            {% else %}
                <button class="btn btn-default" type="submit">Vote</button>
                </form>
            {% endif %}
        
        {% else %}
        <p>{{post.question}}</p>
        {% for i in survey %}
        <input type="radio" value="{{i.variant}}" name="value" disabled>{{i.variant}} {{i.count}} <br>
        {% endfor %}
        <p>You already voted</p>
        <button class="btn btn-default" type="submit">Login</button>
        {% endif %}
    </form>
        
        {% if user.is_staff %}
     <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}" style="border: 0px"><span class="glyphicon glyphicon-pencil"></span></a>
     <a class="btn btn-default" href="{% url 'post_remove' pk=post.pk %}" style="border: 0px">Remove</a>
{% endif %}
<br>
<p>There are: {{ post.likes.count }} likes</p>
{% if user.is_active %}
<a href="{% url 'add_like' pk=post.pk %}">Add like</a>
{% endif %}
<hr>
<a class="btn btn-default" id="add_comment" onclick="add_comment()">Add comment</a>


<div style="display: none" id="comment_form" >
<form method="POST" >{% csrf_token %}
<img width="85px"; height="85px" align="left" class="comment_image_author" style="" src='http://127.0.0.1:8000/media/{{profile.photo|default:"/blog/static/media/746199.jpg"}}'> 
{% if not user.is_active %}
<input id="author_of_comment" name="author_of_comment"><br>
{% else %}
<p>{{user.username}}</p>
{% endif %}

<input id="text_of_comment" name="text_of_comment" placeholder="sd">
<button type="submit" name="add_comment" value="add_comment" class="save btn btn-default" id="Append_comment" >Send</button>
</form>
</div>
<p>There are: {{ post.comments.count }} Comments</p>
{% for comment in post.comments.all %}

    <div class="comment">
        {% if user.is_staff %}
        <a class="btn btn-default" href="{% url 'comment_remove' pk=comment.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
        {% endif %}
        <img width="85px"; height="85px" align="left" class="comment_image_author" src='http://127.0.0.1:8000/media/{{comment.photo_of_user|default:"/blog/static/media/746199.jpg"}}'> 
        <div class="comment_date">{{ comment.created_date }}</div>
        <strong>{{ comment.author }}</strong>
        <p>{{ comment.text|linebreaks }}</p>
    </div>
{% empty %}
    <p>Nici-un comentariu</p>
{% endfor %}
    </div>
    <script type="text/javascript" src="{% static 'js/post_detail.js' %}"></script>
{% endblock %}
