{% extends "blog/base.html" %}
{% load static %}
{% block content %}
  <link rel="stylesheet" href="{% static 'css/register.css' %}">
  {% if Error %}
    <script>
        Materialize.toast('{{Error}}', 4000)
    </script>
  {% endif %}
  <form action="." method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="row" id="main">
      <h4 class="col s12">Creează un profil</h4>
      <div class="input-field col s10">
        <input name="username" id="first_name1" type="text" class="validate" required>
        <label class="active" for="first_name1">Nume de utilizator</label>
      </div>
      <div class="input-field col s10">
        <input name="email" id="email" type="email" class="validate">
        <label for="email">Email</label>
      </div>
      <div class="input-field col s5">
        <input name="password" id="password1" type="password" class="validate" required>
        <label class="active" for="first_name2" data-error="Parola trebuie să conțină cel puțin 6 simboluri">Parola</label>
      </div>
      <div class="input-field col s5">
        <input name="repeatedpassword" id="password2" type="password" class="validate" required>
        <label class="active" for="first_name2" data-error="Parola nu coincide">Repetată parola</label>
      </div>
      <div class="col s12">
        <button id="registersubmit" class="btn waves-effect waves-light light-blue darken-2 " type="submit" name="action">Continuă
          <i class="material-icons right">send</i>
        </button>
      </div>
    </div>
  </form>
  <script type="text/javascript" src="{% static 'js/register.js' %}"></script>
{% endblock %}
