{% extends 'blog/darktheme_base.html' %}
{% load static %}
{% block content %}
<style>
    .stage1{
        animation-name: go-right;
        animation-duration: 0.35s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards; 
    }
   .stage2{
        animation-name: go-left;
        animation-duration: 0.35s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }
     .stage3{
        animation-name: go-bottom;
        animation-duration: 0.35s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }
    .stage4{
        margin-top: 200px;
        animation-name: go-right;
        animation-duration: 0.35s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }
    .stage5{
        margin-top: 200px;
        animation-name: go-left;
        animation-duration: 0.35s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }
    .stage6{
        margin-top: 200px;
        animation-name: go-bottom;
        animation-duration: 0.35s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }
    .stage7{
        margin-top: 400px;
        animation-name: go-right;
        animation-duration: 0.35s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }
    .stage8{
        margin-top: 400px;
        animation-name: go-left;
        animation-duration: 0.35s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }
    .stage9{
        margin-top: 400px;
        animation-name: go-top;
        animation-duration: 0.35s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }
    .stage10{
        margin-top: 200px;
        animation-name: go-right;
        animation-duration: 0.35s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }
    .stage11{
        margin-top: 200px;
        animation-name: go-right-rr;
        animation-duration: 0.35s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }
    .stage12{
        margin-top: 200px;
        animation-name: go-top-r;
        animation-duration: 0.35s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }
    .stage13{
        animation-name: go-right-r;
        animation-duration: 0.35s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }
    .stage14{
        animation-name: go-left-r;
        animation-duration: 0.35s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }
    .stage15{
        animation-name: go-bottom-r;
        animation-duration: 0.5s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }
    .stage16{
        margin-top: 400px;
        animation-name: go-right-r;
        animation-duration: 0.35s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }
    .stage17{
        width: 500px;
        height: 500px;
    }
    @keyframes go-right {
        0% {transform: translate(0px) rotateZ(0deg)}
        20% {transform: translate(60px) rotateZ(72deg)}
        40% {transform: translate(120px) rotateZ(144deg)}
        60% {transform: translate(180px) rotateZ(216deg)}
        80% {transform: translate(240px) rotateZ(288deg)}
        100% {transform: translate(300px) rotateZ(360deg)}
    }
    @keyframes go-left {
        0% {transform: translate(300px) rotateZ(0deg)}
        20% {transform: translate(240px) rotateZ(72deg)}
        40% {transform: translate(180px) rotateZ(144deg)}
        60% {transform: translate(120px) rotateZ(216deg)}
        80% {transform: translate(60px) rotateZ(288deg)}
        100% {transform: translate(0px) rotateZ(360deg)}
    }
    @keyframes go-bottom {
        0% {transform: translate(0px, 0px) rotateZ(0deg)}
        20% {transform: translate(0px, 40px) rotateZ(72deg)}
        40% {transform: translate(0px, 80px) rotateZ(144deg)}
        60% {transform: translate(0px, 120px) rotateZ(216deg)}
        80% {transform: translate(0px, 160px) rotateZ(288deg)}
        100% {transform: translate(0px, 200px) rotateZ(360deg)}
    }
    @keyframes go-top {
        0% {transform: translate(0px, 0px) rotateZ(0deg)}
        20% {transform: translate(0px, -40px) rotateZ(72deg)}
        40% {transform: translate(0px, -80px) rotateZ(144deg)}
        60% {transform: translate(0px, -120px) rotateZ(216deg)}
        80% {transform: translate(0px, -160px) rotateZ(288deg)}
        100% {transform: translate(0px, -200px) rotateZ(360deg)}
    }
    @keyframes go-right-r {
        0% {transform: translate(600px) rotateZ(0deg)}
        20% {transform: translate(660px) rotateZ(72deg)}
        40% {transform: translate(720px) rotateZ(144deg)}
        60% {transform: translate(780px) rotateZ(216deg)}
        80% {transform: translate(840px) rotateZ(288deg)}
        100% {transform: translate(900px) rotateZ(360deg)}
    }
    @keyframes go-left-r {
        0% {transform: translate(900px) rotateZ(0deg)}
        20% {transform: translate(840px) rotateZ(72deg)}
        40% {transform: translate(780px) rotateZ(144deg)}
        60% {transform: translate(720px) rotateZ(216deg)}
        80% {transform: translate(660px) rotateZ(288deg)}
        100% {transform: translate(600px) rotateZ(360deg)}
    }
    @keyframes go-bottom-r {
        0% {transform: translate(600px, 0px) rotateZ(0deg)}
        20% {transform: translate(600px, 80px) rotateZ(72deg)}
        40% {transform: translate(600px, 160px) rotateZ(144deg)}
        60% {transform: translate(600px, 240px) rotateZ(216deg)}
        80% {transform: translate(600px, 320px) rotateZ(288deg)}
        100% {transform: translate(600px, 400px) rotateZ(360deg)}
    }
    @keyframes go-top-r {
        0% {transform: translate(600px, 0px) rotateZ(0deg)}
        20% {transform: translate(600px, -40px) rotateZ(72deg)}
        40% {transform: translate(600px, -80px) rotateZ(144deg)}
        60% {transform: translate(600px, -120px) rotateZ(216deg)}
        80% {transform: translate(600px, -160px) rotateZ(288deg)}
        100% {transform: translate(600px, -200px) rotateZ(360deg)}
    }
    @keyframes go-right-rr {
        0% {transform: translate(300px) rotateZ(0deg)}
        20% {transform: translate(360px) rotateZ(72deg)}
        40% {transform: translate(420px) rotateZ(144deg)}
        60% {transform: translate(480px) rotateZ(216deg)}
        80% {transform: translate(540px) rotateZ(288deg)}
        100% {transform: translate(600px) rotateZ(360deg)}
    }
</style>
    <input id="iteration" class="hide" value="1">
    <img id="img" class="" width="100" height="100" onclick="img_click()" src="/media/blog/static/media/logo.png">
<script>
    var img = document.getElementById('img')
    
    function img_click(){
        var riteration = document.getElementById('iteration');
        if (riteration.value == "18"){
            alert("Ce ai uitat aici?")
        }
        img.className = "stage" + riteration.value;
        riteration.value = Number(riteration.value) + 1;
    }
</script>
{% endblock %}
