@media only screen and (min-width: 993px) and (max-width: 1280px){
    .top_articles {
        height: 48rem;
        right: 1%; 
        width:25%; 
        padding:10px;
        border: 0;
        float: right;
    }

    .top_article, .image_of_top_article{
        height: 12.7rem;
    }

    .title_of_top_articles {
        font-size: 3rem;
    }
}

@media only screen and (min-width: 1224px){
    .main_page {
        max-width: 72%;
    }

    .top_articles {
        height: 46rem;
        right: 1%; 
        width:25%; 
        padding:10px;
        border:0;
        float: right;
    }

    .top_article, .image_of_top_article{
        height: 11.5rem;
    }

    .title_of_top_articles {
        font-size: 3rem;
    }
}

@media only screen and (min-width : 1824px) {
    .top_articles {
        height: 66rem;
    }
    
    .top_article, .image_of_top_article{
        height: 17.5rem;
    }
    
    .title_of_top_articles {
        font-size: 4.5rem;
    }
}

.main_page {
    margin: 1%;
    margin-top: 0%;
}

#top_posts_header {
    padding: 5%;
}

.image_of_top_article {
    width: 6rem; 
    object-fit: cover; 
    overflow: hidden;
}


body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

#user_menu_trigger {
    font-size: 60px; 
    cursor: pointer; 
    margin-left: 12%;
    color: #000;
    animation-name: color_user_menu_trigger;
    animation-duration: 1.5s;
}

#mobile_menu_trigger {
    margin-left: 10px;
    cursor: pointer;
}

#top_article_short_info {
    display: flex;
    float: right;
}

.top_article_icons {
    line-height: inherit;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
}

#ads_warning {
    right: 1%; 
    width: 25%; 
    padding: 10px;
}

#estcurier_support, #ads_warning, #top_posts {
    display: inline-block;
    float: right; 
}

#user_menu_trigger:hover {
    animation-name: color_user_menu_trigger;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}

.visible_usermenu {
    animation-name: show_hide_usermenu;
    animation-duration: 0.15s
}

@keyframes color_user_menu_trigger {
    0% {color: #000} 
    50% {color: #0288d1;}
    100% {color: #000;}
}

@keyframes show_hide_usermenu {
    0% {opacity: 0%;}
    20% {opacity: 20%;}
    40% {opacity: 40%;}
    60% {opacity: 60%;}
    80% {opacity: 80%;}
    100% {opacity: 100%;}
}

.rainbow {
    animation-name: rainbow;
    animation-duration: 0.25s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}
@keyframes rainbow {
    0%{color: #c62828}
    5%{color: #ad1457}
    10%{color: #6a1b9a}
    15%{color: #4527a0}
    20%{color: #283593}
    25%{color: #1565c0}
    30%{color: #0277bd}
    35%{color: #00838f}
    40%{color: #00695c}
    45%{color: #2e7d32}
    50%{color: #558b2f}
    55%{color: #9e9d24}
    60%{color: #f9a825}
    65%{color: #ff8f00}
    70%{color: #ef6c00}
    75%{color: #d84315}
    80%{color: #4e342e}
    85%{color: #424242}
    90%{color: #37474f}
    95%{color: #0277bd}
    100%{color: #2e7d32}
}