@media only screen and (min-width: 993px){
    .top_articles {
      height: 48rem;
      right: 1%; 
      width:25%; 
    }

    .top_article, .image_of_top_article{
      height: 12.7rem;
    }
  }
  
@media only screen and (min-width: 1224px){
    .top_articles {
      height: 46rem;
      right: 1%; 
      width:25%; 
    }

    .top_article, .image_of_top_article{
      height: 11.5rem;
    }
}
  
@media only screen and (min-width : 1824px) {
    .top_articles {
        height: 66rem;
    }
    
    .top_article, .image_of_top_article{
        height: 17.5rem;
    }  
}

.image_of_top_article {
    width: 5rem !important;
}

.divider {
    margin-top: 1%;
}

.article_icons {
    line-height: inherit; 
    padding-right: 0.5rem;
    padding-left: 0.5rem
}

.like_section {
    font-size: 28px; 
    display: flex; 
    cursor: pointer;
    line-height: 110%;
}

#survey_section {
    border: 0;
}

#comment_author {
    margin-left: 1%;
}

#article_icons_container{
    display: flex;
    margin-top: 1%;
}

.like_btn_user_inactive {
    line-height: inherit;
    vertical-align: middle;
}

.like {
    vertical-align: middle;
}